#contact {
    box-shadow: inset 0 27px 23px 0px rgba(0, 0, 0, 0.1);
    padding: 26px 21px;
    background-color: white;

    .header-contact {
        text-align: center;
        font-family: $main-font;
        color: $main-text-color;
        font-size: 40px;
    }

    .container-contact {
        display: flex;
        font-family: $secundary-font;

        @media(max-width: 1058px){
            flex-direction: column;
        }

        .map {
            @media(max-width: 1058px){
                text-align: center;
            }
        }

        .info-contact {
            display: flex;
            flex-direction: column;
            color: $secundary-text-color;

            @media(max-width: 1058px){
                margin-top:36px;
            }

            .data {
                display: flex;
                margin-bottom: 30px;

                div {
                    padding-left: 19px;
                
                    i {
                    color:$main-color;
                    }

                    span {
                    font-size: 14px;
                    }
                }
            }
            .form {
                text-align: center;

                form {

                    input {
                        border: 1px solid $secundary-color;
                        width: 43%;
                        height: 35px;
                        margin:0px 15px 23px 0;
                        padding-left: 11px;
                        box-sizing: border-box;
                    }

                    textarea {
                        width: 90%;
                        margin:0px 15px 23px 0;
                        height: 114px;
                        border: 1px solid $secundary-color;
                        font-family: $secundary-font;
                        padding: 5px 10px;
                        box-sizing: border-box;
                        font-size: 15px;
                    }

                    & :nth-child(3) {
                        width: 90%;
                    }
                }
                    
                button {
                        background-color: $main-color;
                        height: 40px;
                        width: 28%;
                        border-radius: 22px;
                        color: white;
                        border: none;

                        &:hover {
                            background-color: $color-hover;
                            cursor: pointer;
                        }
                }
                
            }
        }
    }
}