.header {
    width: 100%;
    font-family: $main-font;
    color: $main-text-color;
    height: 73px;
    box-shadow: 0px -6px 8px 5px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;

    .icon-nav {
        display:none;

        @media(max-width:1058px) {
            display: block;
            position: absolute;
            right: 35px;
            top: 34px;
            font-size: 30px;
        }
    }

  

    .logo {
        width: 75px;
        float: left;
        margin-left: 89px;
        margin-top: 20px;
    }
    nav {
        margin-right: 53px;
    }

    

    #header-list {
        display: flex;
        float: right;
        transition: .5s;

        @media(max-width:1058px) {
            display: flex;
            float: right;
            flex-direction: column;
            position: absolute;
            transform: translateX(-220px);
            top: 56px;
            width: 180px;
            background-color:white;
            
        }

        &:target {
            transform: translatex(0px);
        }

        .icon-close {
            display:none;

            @media(max-width:1058px) {
                display:block;
                position: absolute;
                right: 15px;
            }
        }
        .header-list-item {
            margin: 11px 22px;
            font-weight: bolder;
            
            & :hover {
                color:$color-hover;
            }
        }

        .dropdown {
               
            .submenu {
            width: 158px;
            background-color:white;
            display:none;
            position: absolute;
            transition: .5s cubic-bezier(.79,.14,.15,.86);

            .submenu-item {
                font-weight: normal;
                font-size: 15px;
                line-height: 3;

                &:hover {
                    color:$color-hover;
                    cursor: pointer;
                    }
            }
        }

            &:hover .submenu {
                display:block;
            }
        }
    }
} 
