#team {
    box-shadow: $box-shadow-section;
    background:white;
    padding: 40px 0px;

    .header-team {
        text-align: center;

        .title {
            font-family: $main-font;
            color: $main-text-color;
            font-size: 40px;
        }

        p {
            font-family: $secondary-font;
            color: $secondary-text-color;
            font-size: 16px;
        }
    }

    .container-team {
        display:flex;
        padding: 0 93px;

        @media(max-width: 1058px){
        flex-wrap: wrap;
        justify-content: center;}

        @media (max-width:600px) {
            padding: 0;
        }

        .box-team {
            width: 24%;
            margin: 34px 15px;
            border-radius: 50%;
            position: relative;
            background-color: $color-hover;

            @media(max-width: 1058px){
                width: 37%;
            }

            @media(max-width:747px){
                width: 81%;
            }


            img {
                border-radius: 50%;
                width: 100%;
                }

            &:hover img {
                opacity: .5;
                }
            
            &:hover .box-info {
                transform: translateY(-81px);
                opacity: 1;
            }

            .box-info {
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 10px;
                opacity: 0;
                transition:.5s;

                .title {
                    font-family: $main-font;
                    color:white;
                    margin-bottom: 10px;
                }
                p {
                    font-family: $secondary-font;
                    color:white;
                    font-size: 12px;
                }

                .icons {
                    display:flex;
                    color:white;
                    justify-content: center;

                    i {
                        margin: 0 5px;
                        
                        &:hover {
                            color:$color-hover;
                            cursor: pointer;
                        }
                    }
                }
            }

           
    }   }
}