#testimonials {
    box-shadow: inset 0 27px 23px 0px rgba(0, 0, 0, 0.1);
    background-color: #C2E2F5;
    padding: 40px 0px;

    .header-testimonials {
        text-align: center;
        font-family: $main-font;
        color: $main-text-color;
        font-size: 40px;
    }

    .box-testimonials {
        display: flex;
        width: 61%;
        margin: 0 auto;
        position: relative;

        @media(max-width:747px) {
            flex-direction: column;
            text-align: center;
        }

        img {
            border-radius: 50%;
            width: 16%;
            position: absolute;
            top: 52px;

            @media(max-width:747px) {
                position:static;
            }
        }

        .box-info {
            padding-left: 154px;

            @media(max-width:747px){
                padding:0;
            }

            .title {
                font-family: $main-font;
                color:black;
                font-size: 20px;
                line-height: 1;
            }

            span {
                font-family: $secundary-font;
            }

            p {
                font-family: $secundary-font;
                color: $secundary-text-color;
            }
        }
    }

    .buttons-testimonials {
        text-align: center;

        span {
            background-color: $main-color;
            width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 50%;
            margin: 42px 4px

        }
    }
}