$main-color: #1445b3;
$color-hover:#3636e9;
$secundary-color:#C2E2F5;
$selector-color:#4B7BF5;
$main-text-color: #283d50;
$secundary-text-color: #556877;

$secundary-font:“Open Sans”, sans-serif;
$main-font: “Montserrat”, sans-serif;