$main-color: #1445b3;
$color-hover:#3636e9;
$secondary-color:#C2E2F5;
$selector-color:#4B7BF5;
$main-text-color: #283d50;
$secondary-text-color: #556877;

$box-shadow-section: inset 0 27px 23px 0px rgba(0, 0, 0, 0.1);

$secondary-font:“Open Sans”, sans-serif;
$main-font: “Montserrat”, sans-serif;