@import 'utils/variables';
@import 'utils/keyframes';

@import 'components/list';
@import 'components/buttons';

@import 'layout/header';
@import 'layout/home';
@import 'layout/main';
@import 'layout/services';
@import 'layout/why';
@import 'layout/portfolio';
@import 'layout/testimonials';
@import 'layout/team';
@import 'layout/clients';
@import 'layout/contact';
@import 'layout/footer';

body {
    margin: 0;

    .container {
        width: 100%;
    }
}
